body
{
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.main
{
    width: 100%;
    min-height: 100%;
}
.participants
{
    width: 300px;
    float: right;
}
.messages
{
    width: auto;
    float: none;
    overflow: hidden;
}

.panel-pincer
{
    height: 50px;
}
.panel-body
{
    height: calc(100% - 100px);
    overflow-y: auto;
}